// Author: Alvis Lee
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  line-height: 1.15;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
